.header_div{
    background-color: black;
    color: white;
}
.header_div p{
    color:aqua;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
}
.main_div button{
    font-family: 'Roboto' , sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing:3px;
    border-color: black;
    border-width: 2px;
}
.footer{
    position: fixed;
    color:white;
    bottom: 0;
    font-size: 18px;
    background-color: black;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151,149,149);
    width: 100%;
}
body{
    text-align: center;
    background:aqua;
}
